<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="/logo.ico" />
  <title>test</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      scrollbar-color: #e5e5e5 #f7f7f9;
      /* 滑块颜色  滚动条背景颜色 */
      scrollbar-width: thin;
    }

    .icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }

    /* 滚动条优化 start */
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb {
      background: #cdcdcd;
      border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #747474;
    }

    ::-webkit-scrollbar-corner {
      background: #f6f6f6;
    }

    /* 滚动条优化 end */
    html,
    body {
      width: 100%;
      height: 100%;
    }

    .index-holdSvg {
      width: 0;
      height: 0;
    }

    .loading {
      position: relative;
      width: 200px;
      height: 200px;
      filter: url(#gooey);
      margin: 0 auto;
    }

    .loading span {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: block;
      animation: loading 4s ease-in-out infinite;
    }

    .loading span:nth-child(1) {
      animation-delay: 0.2s;
    }

    .loading span:nth-child(2) {
      animation-delay: 0.4s;
    }

    .loading span:nth-child(3) {
      animation-delay: 0.6s;
    }

    .loading span:nth-child(4) {
      animation-delay: 0.8s;
    }

    .loading span:nth-child(5) {
      animation-delay: 1s;
    }

    .loading span:nth-child(6) {
      animation-delay: 1.2s;
    }

    .loading span:nth-child(7) {
      animation-delay: 1.24s;
    }

    .loading span::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      left: calc(50% -20px);
      box-shadow: 0 0 30px #03a9f4;
      /* 设置渐变颜色 */
      background: linear-gradient(#fce4ec, #03a9f4);
      border-radius: 50%;
    }

    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }

      50%,
      100% {
        transform: rotate(360deg);
      }
    }

    #jqdd-app {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong>
  </noscript>
  <div id="jqdd-app">
    <div class="loading">
      <!-- 小球 -->
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <svg class="index-holdSvg">
      <filter id="gooey">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10"></feGaussianBlur>
        <feColorMatrix values="
            1 0 0 0 0
            0 1 0 0 0
            0 0 1 0 0
            0 0 0 20 -10
            " />
      </filter>
    </svg>
  </div>
  <script type="module" src="/src/main.js"></script>
  <script src="/iconfont.js"></script>
</body>

</html>