<template>
<div>
	<MoreFastTable ref="execlTableRef" :tHead="columns" :contextMenuConfig="false" :maxHeight="360"
                                v-model="boxList">
                            </MoreFastTable>
</div>
</template>

<script setup>
import { nextTick, onMounted, ref } from 'vue'
let i18nFnc = r => r
let boxList = ref([{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{}])
let columns = ref([])
columns.value = [
        { text: i18nFnc('序号'), key: 'serial', width: 40 },
        {
            text: i18nFnc('箱号'),
            key: 'boxNo',
            // tip: i18nFnc('内容不能为空'),
            // rules: (val) => !val.trim(),
            // required: true
        },
        {
            text: i18nFnc('货箱数量'),
            key: 'boxQuantity',
            tip: i18nFnc('请录入正整数'),
            rules: (val) => !/^[1-9][0-9]*$/g.test(val.trim()),
            required: true,
            width: 120
        },
        {
            text: i18nFnc('货箱重量'),
            key: 'boxWeight',
            tip: i18nFnc('数字可保留两位小数'),
            rules: (val) => !/^([0-9][0-9]*)+(.[0-9]{1,2})?$/g.test(val.trim()),
            required: true,
            width: 120
        },
        {
            text: i18nFnc('箱/长'),
            key: 'boxLength',
            tip: i18nFnc('数字可保留两位小数'),
            rules: (val) => !/^([0-9][0-9]*)+(.[0-9]{1,2})?$/g.test(val.trim()),
            required: true
        },
        {
            text: i18nFnc('箱/宽'),
            key: 'boxWidth',
            tip: i18nFnc('数字可保留两位小数'),
            rules: (val) => !/^([0-9][0-9]*)+(.[0-9]{1,2})?$/g.test(val.trim()),
            required: true
        },
        {
            text: i18nFnc('箱/高'),
            key: 'boxHeight',
            tip: i18nFnc('数字可保留两位小数'),
            rules: (val) => !/^([0-9][0-9]*)+(.[0-9]{1,2})?$/g.test(val.trim()),
            required: true
        },
    ]
</script>

